@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    @include respond-to('large') {
        height: 56px;
    }
}