header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

@media (min-width: 768px) and (min-height: 768px) {
    header {
        height: 56px;
    }
}