/* You can add global styles to this file, and also import other style files */
@import './sass/variables.scss';
@import './sass//mixins.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}

.card {
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    margin-top: 60px;
    @include respond-to('large') {
        padding: 32px;
    }
}

.row {
    display: flex;
    justify-content: center;
    &:first-of-type {
        margin-bottom: 16px;
    }
    @include respond-to('small') {
        flex-direction: column;
        align-items: center;
    }
}

.col {
    max-width: 160px;
    width: 49%;
    &:first-of-type {
        margin-right: 2%;
    }
    @include respond-to('small') {
        width: 100%;
        &:first-of-type {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}